include:
    - project: 'ci/templates/node'
      file: ['pnpm-publish.yml']


.build artifacts: &build_artifacts
  artifacts:
    paths:
      - packages/*/lib
      - packages/*/dist
      - packages/*/cli
      - packages/*/package
      - packages/*/client
      - packages/*/assets
      - packages/*/compiler
      - plugins/*/dist
      - plugins/*/lib
      - plugins/*/package
    expire_in: 1 week

build:
  <<: *build_artifacts

test:
  <<: *build_artifacts

lint:
  <<: *build_artifacts
