@import "tailwindcss";
@import "tw-animate-css";

@source "./";
@source "../../node_modules/@deenruv/admin-dashboard/dist/**/*.js";
@source "../../node_modules/@deenruv/react-ui-devkit/dist/**/*.js";
@source "../node_modules/@deenruv/admin-dashboard/dist/**/*.js";
@source "../node_modules/@deenruv/react-ui-devkit/dist/**/*.js";
@source "./node_modules/@deenruv/admin-dashboard/dist/**/*.js";
@source "./node_modules/@deenruv/react-ui-devkit/dist/**/*.js";
@source "../../node_modules/@deenruv/replicate-plugin/dist/**/*.js";
@source "../node_modules/@deenruv/replicate-plugin/dist/**/*.js";
@source "./node_modules/@deenruv/replicate-plugin/dist/**/*.js";
@source "../../node_modules/@deenruv/replicate-simple-bg-plugin/dist/**/*.js";
@source "../node_modules/@deenruv/replicate-simple-bg-plugin/dist/**/*.js";
@source "./node_modules/@deenruv/replicate-simple-bg-plugin/dist/**/*.js";
@source "../../node_modules/@deenruv/order-attributes-plugin/dist/**/*.js";
@source "../node_modules/@deenruv/order-attributes-plugin/dist/**/*.js";
@source "./node_modules/@deenruv/order-attributes-plugin/dist/**/*.js";
@source "../../node_modules/@deenruv/dashboard-widgets-plugin/dist/**/*.js";
@source "../node_modules/@deenruv/dashboard-widgets-plugin/dist/**/*.js";
@source "./node_modules/@deenruv/dashboard-widgets-plugin/dist/**/*.js";

@plugin "@tailwindcss/typography";

:root {
  --background: hsl(0 0% 100%);
  --foreground: hsl(240 10% 3.9%);

  --card: hsl(0 0% 100%);
  --card-foreground: hsl(240 10% 3.9%);

  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(240 10% 3.9%);

  --primary: hsl(240 5.9% 10%);
  --primary-foreground: hsl(0 0% 98%);

  --secondary: hsl(240 4.8% 95.9%);
  --secondary-foreground: hsl(240 5.9% 10%);

  --muted: hsl(240 4.8% 95.9%);
  --muted-foreground: hsl(240 3.8% 46.1%);

  --accent: hsl(240 4.8% 95.9%);
  --accent-foreground: hsl(240 5.9% 10%);

  --destructive: hsl(0 84.2% 60.2%);
  --destructive-foreground: hsl(0 0% 98%);

  --border: hsl(240 5.9% 90%);
  --input: hsl(240 5.9% 90%);
  --ring: hsl(240 10% 3.9%);

  --radius: 0.5rem;

  --warning: hsl(38 92% 50%);
  --warning-foreground: hsl(48 96% 89%);

  --navigation-link: hsl(240 10% 3.9%);

  --topbar-height: 70px;
  --topbar-height-lg: 80px;

  --page-padding-total-y: 2.75rem;
  --page-padding-total-y-md: 4.75rem;
  --page-padding-total-y-lg: 2rem;

  --page-content-h: calc(100vh - var(--topbar-height) - var(--page-padding-total-y));
  --page-content-h-md: calc(100vh - var(--topbar-height) - var(--page-padding-total-y-md));
  --page-content-h-lg: calc(100vh - var(--topbar-height-lg) - var(--page-padding-total-y-lg));
}

.dark {
  --background: hsl(240 10% 3.9%);
  --foreground: hsl(0 0% 98%);

  --card: hsl(240 10% 3.9%);
  --card-foreground: hsl(0 0% 98%);

  --popover: hsl(240 10% 3.9%);
  --popover-foreground: hsl(0 0% 98%);

  --primary: hsl(0 0% 98%);
  --primary-foreground: hsl(240 5.9% 10%);

  --secondary: hsl(240 3.7% 15.9%);
  --secondary-foreground: hsl(0 0% 98%);

  --muted: hsl(240 3.7% 15.9%);
  --muted-foreground: hsl(240 5% 64.9%);

  --accent: hsl(240 3.7% 15.9%);
  --accent-foreground: hsl(0 0% 98%);

  --destructive: hsl(0 62.8% 30.6%);
  --destructive-foreground: hsl(0 0% 98%);

  --border: hsl(240 3.7% 15.9%);
  --input: hsl(240 3.7% 15.9%);
  --ring: hsl(240 4.9% 83.9%);

  --warning: hsl(48 96% 89%);
  --warning-foreground: hsl(38 92% 50%);

  --navigation-link: hsl(0 0% 98%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);

  --color-navigation-link: var(--navigation-link);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  --container-2xl: 1400px;
}

@keyframes accordion-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

@layer base {
  * {
    border-color: var(--border);
  }
  body {
    background-color: var(--background);
    color: var(--foreground);
    box-sizing: border-box;
  }
}

@utility page-content-h {
  height: var(--page-content-h);
  max-height: var(--page-content-h);

  @media (width >= 768px) {
    height: var(--page-content-h-md);
    max-height: var(--page-content-h-md);
  }

  @media (width >= 1024px) {
    height: var(--page-content-h-lg);
    max-height: var(--page-content-h-lg);
  }
}

*::-webkit-scrollbar {
  width: 6px;
  transform: translateX(-4px);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--border);
  position: relative;
  border-radius: 9999px;
}

*::-webkit-scrollbar-track {
  display: flex;
  touch-action: none;
  user-select: none;
  transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 0s 600000s,
    color 0s 600000s !important;
}

a {
  display: contents;
  text-decoration: none;
}

.Puck > div:nth-child(1) {
  position: relative !important;
}

@utility custom-spinner {
  width: 48px;
  height: 48px;
  border: 5px solid var(--primary);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
