{
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "printWidth": 120,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "tailwindStylesheet": "../../packages/admin-dashboard/src/root.css",
  "plugins": [
    "prettier-plugin-tailwindcss"
  ]
}